<div id="sidebar">
  <a class="navbar-btn" data-toggle="collapse" data-target=".navbar-collapse">
    <i class="fa fa-bars fa-fw"></i>
  </a>
        
  <nav id="nav" class="navigation" role="navigation">
    <div class="mynav">
      <a href="/en/"><i class="fa fa-list-alt fa-fw"></i> <span>posts</span></a>
      <a href="/en/archive/"><i class="fa fa-inbox fa-fw"></i> <span>archive</span></a>
      <a href="/en/categories/"><i class="fa fa-folder fa-fw"></i> <span>categories</span></a>
      <a href="/en/tags/"><i class="fa fa-tags fa-fw"></i> <span>tags</span></a>
    </div>
    <div class="mynav">
      <a href="http://joysword.com"><i class="fa fa-home fa-fw"></i> <span>home</span></a>
    </div>
  </nav><!-- /nav -->

</div><!-- /sidebar -->